$color-bg: #282c34;
$color-bg-dark: #1e242a;
$color-bg-light: #3b3d44;
$color-text: #61dafb;
$color-text-controls: rgba(97, 218, 251, 0.7);
$color-text-placeholder: rgba(97, 218, 251, 0.3);
$color-white: rgba(255, 255, 255, 0.2);
$color-accept: greenyellow;
$color-cancel: darkred;
$font-size-controls: calc(5px + 2vmin);
$font-size-list-item-controls: 1.7vmin;


.App {
  background-color: $color-bg;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $color-text;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid $color-white;
  border-radius: 30px 30px 0 0;
  padding: 10px 0 0 0;
  margin-top: 100px;
}

.list-header{
  padding: 0;
  margin: 0;
}

.list{
  padding: 0;
  margin: 10px 0 30px 0;
  width: 100%;
}

.list__item{
  list-style: none;
  position: relative;
  padding: 5px 20px;
  display: flex;
  min-width: 400px;
  justify-content: space-between;
  align-items: center;

  &:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 80%;
    border-radius: 3px;
    background-color: $color-bg-light;

  }
}

.list__item-control{
  display: flex;
}

.list__item-text{
  width: 100%;
  font-size: $font-size-controls;
  &--edit{
    border: none;
    //padding: 10px 15px;

    background-color: $color-bg-dark;
    //font-size: $font-size-controls;
    color: $color-text-controls;
    align-self: stretch;
    transition: .3s;

    &:focus{
      outline: none;
      background-color: $color-bg-light;
    }

    &::placeholder{
      color: $color-text-placeholder;
    }
  }
}

.list__item-control-delete,
.list__item-control-edit,
.list__item-control-accept,
.list__item-control-cancel{
  border: none;
  background-color: transparent;
  transition: .3s;
  font-size: $font-size-list-item-controls;
  padding: 5px;
  width: 3vmax;

  &:focus{
    outline: none;
  }

  &:hover{
    background-color: $color-bg-light;
  }
}

.list__item-control-accept{
  color: $color-accept;
}

.list__item-control-cancel{
  color: $color-cancel
}

.list__item-control-edit{

}

.list__item-control-delete{

}


.controls{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-top: 3px solid $color-white;
}

.controls__input{
  border: none;
  width: 100%;
  padding: 10px 15px;
  background-color: $color-bg-dark;
  font-size: $font-size-controls;
  color: $color-text-controls;
  align-self: stretch;
  transition: .3s;

  &:focus{
    outline: none;
    background-color: $color-bg-light;
  }

  &::placeholder{
    color: $color-text-placeholder;
  }
}


.controls__button{
  border: none;
  padding: 10px 15px;
  align-self: stretch;
  font: inherit;
  color: $color-text-controls;
  cursor: pointer;
  background-color: transparent;
  font-size: $font-size-controls;
  transition: .3s;

  &:focus{
    outline: none;
  }

  &:hover{
    background-color: $color-bg-light;
  }
}