$color-bg: #282c34;
$color-bg-dark: darken($color-bg, 2%);
$color-bg-light: lighten($color-bg, 2%);
$color-text: #61dafb;
$color-text-controls: rgba(97, 218, 251, 0.7);
$color-text-placeholder: rgba(97, 218, 251, 0.3);
$color-white: rgba(255, 255, 255, 0.2);
$color-accept: greenyellow;
$color-cancel: darkred;
$font-size-controls: calc(5px + 2vmin);
$font-size-list-item-controls: 1.7vmin;